{
  "presets": [
    [
      "@babel/env",
      {
        "debug": true,
        "targets": [
          "last 2 chrome versions",
          "last 2 firefox versions",
          "last 2 ios versions"
        ]
      }
    ]
  ],
  "plugins": ["@babel/proposal-class-properties"]
}
