{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "edge": "18",
          "chrome": "54",
          "ie": 11
        }
      }
    ]
  ],
  "plugins": ["@babel/proposal-class-properties"]
}
